// Custom styles for fleckendeckend site
//--------------------------------------


.discreet {
    color: #666;
    font-size: 85%;
    font-weight: normal;
}

.visualHighlight {
    background-color: #ffb;
}

.pullquote {
    margin: 0 1em 0.5em 0.5em;
    font-weight: bold;
    line-height: @baseLineHeight;
    float: right;
    width: 35%;
    clear: right;
    color: #444;
    font-size: 1.6em;
    letter-spacing: -0.08em !important;
}
.callout {
    background: #f5f5f5;
    padding: @baseLineHeight;
    border-left: @baseFontSize solid rgba(0,0,0,.05);
    clear: both;
}


footer {
    background: @grayLighter;
    padding: @baseLineHeight 0;
}
