# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg

dump-picked-versions-file = known-good-versions.cfg

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.2.1/versions.cfg
    http://good-py.appspot.com/release/plone.app.theming/1.0
    versions.cfg

find-links =
    http://dist.vorwaerts-werbung.de/public

versions = versions
unzip = true

[eggs]
main =
    fd.blog
    fd.sitecontent
    fd.sitetheme
    plone.app.blocks
    plone.app.tiles
    plone.tiles
    vwc.tiles
    vwc.toolbar

addon =
    Pillow
    collective.disqus
    plone.app.caching

test =
    example.sitetheme [test]
devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
fd.blog                     = fs fd.blog
fd.sitecontent              = fs fd.sitecontent
fd.sitetheme                = fs fd.sitetheme

vwc.tiles                   = git git@github.com:vwc/vwc.tiles.git
vwc.toolbar                 = git git@github.com:vwc/vwc.toolbar.git

# Additional plone checkouts
plone.app.blocks            = git git://github.com/plone/plone.app.blocks.git
plone.app.tiles             = git git://github.com/plone/plone.app.tiles.git
plone.tiles                 = git git://github.com/plone/plone.tiles.git

# Plone collective checkouts
collective.disqus           = git https://github.com/collective/collective.disqus.git

# Development Tools checkouts
sauna.reload                = git https://github.com/epeli/sauna.reload.git
watchdog                    = git https://github.com/gorakhargosh/watchdog.git


